package ${package}.${moduleName}.service;

##import ${mainPath}.common.utils.PageUtils;
##import ${package}.${moduleName}.entity.${className};

import java.util.Map;

/**
 * ${comments}
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
public interface ${className}Service {


}

